.wrapper {
    width: 900px;
    margin: 0 auto;
    float: right;
    padding: 0;
}

.navigation {
    width: 900px;
    margin: 0 auto;
}

.list-item {
    float: left;
    list-style: none;
}

.list-item a:hover {
    color: white;
}

.list-item a:focus {
    color: magenta;
}

.list-item:not(:last-child) {
    margin-right: 50px;
}

.list-item:nth-child(3n+1) {
    background-color: #88292F;
}

.list-item:nth-child(3n+2) {
    background-color: #5DB7DE;
}

.list-item:nth-child(3n+3) {
    background-color: #0D5D56;
}

.list-item::before {
    content: "\2192";
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: #0E1116;
}

body {
    counter-reset: v;
}
.counter {
    clear: both;
}

.counter-list {
    counter-increment: v;
    list-style: none;
}
.counter-list::before {
content: counter(v, upper-roman);
display: inline-block;
width: 20px;
height: 20px;
background-color: violet;
text-align: center;
}